#
cgi.cpp/sqltutor
doc/sqltutor.info
doc/sqltutor.pdf
doc/sqltutor.ps
doc/schema/premp
doc/schema/schema.*
#
*.lock
*.[ao]
*~
*.aux
*.cp
*.cps
*.fn
*.ky
*.log
*.pg
*.toc
*.tp
*.vr

# 
Makefile.in

# stamp-h1 doc/stamp-vti
stamp-*
#
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cgi.cpp/.deps/
config.h
config.h.in
config.log
config.status
configure
# version.texi by take melo byt soucasti distribuce ?!?!?!?
doc/version.texi
doc/manual/
