#
sqltutor*.tar.gz
#
cgi.cpp/sqltutor
#
*.lock
*.[ao]
*~
*.aux
*.cp
*.cps
*.fn
*.ky
*.log
*.pg
*.toc
*.tp
*.vr

#
.deps
INSTALL
Makefile
Makefile.in

# stamp-h1 doc/stamp-vti
stamp-*
#
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cgi.cpp/.deps/
config.h
config.h.in
config.log
config.status
configure
config.aux/
#
doc/schema/premp
doc/schema/schema.*
#
doc/Doxyfile
doc/html
doc/latex
#
doc/manual/
doc/version.texi
doc/sqltutor.html
doc/sqltutor.info
doc/stamp-vti
doc/manual/
doc/gendocs*
doc/sqltutor.aux
doc/sqltutor.cp
doc/sqltutor.cps
doc/sqltutor.fn
doc/sqltutor.ky
doc/sqltutor.log
doc/sqltutor.pg
doc/sqltutor.toc
doc/sqltutor.tp
doc/sqltutor.vr
